language: ruby
rvm:
- 2.3.0
before_install:
- mysql -e "create database IF NOT EXISTS test;" -uroot
services:
- mysql
before_script:
- mysql -e 'create database iregremlin_test;'
deploy:
- provider: s3
  access_key_id: AKIAITXCXSTD6GETXXIA
  secret_access_key: &1
    secure: jUFc3AQqNeGoBUz+zXkwY5RyGxGcmFl8b/B1i4/RaZ2gYVsDF1hqCDxwdsbwdQJ0M0UX8nbIS9sFiEP3W1jBz5nHhGm+LQmKDgdMTFckQEYDomAiv/nNO2TT6nOO1zcJ2ZT/RbBUx+9ehSd92AbvFnZ2NFbbG+wYyr7MuZnDX1MBAezMJP2Wuo0u2C/4EX95guWY0X3dg5PatRW/8NZMDSO+2Kyj8cStBNJCGBixQyUWrbS376mQGY/tuyyBkfeVrRd7nBq3ORybKKy5svzNcB7lzStGvGtf6LA/queRDate4L1ZcKL19FA1Ub07wPmMPdWjDLecowhquPRhx1h6VhncPd2r7lJRz+riuJdzRZEfMcEr7ooE1fb2/hvNjPjCFYzUMfIm9Ns0lOZSPo1GYjZO+EDbHjtf5Zaq6tW7nmi2I7QkCtDDglW9FY+5RAKc5WStECzx2cQYCE1EYFthTChb2SHI6HEhT2M2Tp9YmYVAFGhqHB+sDaC9NBfjOL3bLzStKTjxjOVvzcT1oN9m+vj4qkqcb/IGflEhxlz8n/HR6CSsDF58kkoNM4oNYy/iNekfxA8FMYslfpE+8gdyECDVobzv2LZ6wveX7S6o+HTKq5B6qnPY/TOQ5FfrlKRlI4jCEFNjJP0OVx6xrjUXvbMQ3DsL1FUl0q69dZzh2tg=
  local_dir: dpl_cd_upload
  skip_cleanup: true
  on: &2
    repo: pveggie/iregremlin
  bucket: iregremlin-s3-bucket
  upload_dir: latest
- provider: codedeploy
  access_key_id: AKIAITXCXSTD6GETXXIA
  secret_access_key: *1
  bucket: iregremlin-s3-bucket
  key: latest/iregremlin.zip
  bundle_type: zip
  application: iregremlin
  deployment_group: iregremlin-deployment
  on: *2
before_deploy:
- mkdir -p dpl_cd_upload
- mv iregremlin.zip dpl_cd_upload/iregremlin.zip
