<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="how-to-play">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="instructions_title">How to Play</h4>
      </div>
      <div class="modal-body">
        <p>The aim of the game is to help Ire defeat all the heroes. Ire starts out with no weapons but plunders weapons from defeated denemies.</p>

        <p>Weapons are strong against some enemies and weak against others. Axes are strong against lances and weak against swords. Swords are strong against axes and weak against lances. Lances are weak against axes and strong against swords. If you attack an enemy with a strong weapon you will take no damage. Attacking with the same weapon or a weak weapon will cause you to take some damage or a lot of damage, respectively.</p>

        <p>Ire's first attack is always successful and results in no damage to Ire.</p>

        <p>Ire's normal movement range is 5, but this increases temporarily to 6 after an an enemy kill.</p>

        <p>Touch a square to check whether it is reachable. A blue path indicates a reachable square. Touch against to move. Touching a square with and enemy will initiate combat. Orange paths indicate that the square is too far away.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
