<% content_for :title do %>
  Home
<% end %>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

      <div class="padded bg-white full-height">
        <table class="border-collapse grid-game">
          <% 10.times do %>
            <tr>
              <% 10.times do %>
                <td style="background-image: url(<%= asset_path 'background_1_tree.jpg' %>);">
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

    </div>


  </div>
</div>
