//Layout
body {
  height: 100vh;
  background: $gray-lighter;
}

.border-collapse {
    border-collapse: collapse;
}

.content {
  margin-top: 140px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item-padded-right {
  padding-right: 20px;
}
// Paddings

.padded {
  padding-top: 3em;
  padding-bottom: 5em;
}

.padded-1em {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Backgrounds
.bg-black {
  background: #2a2a2a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.bg-white {
  background: white;
}

.full-height {
  height: 100vh;
}
