//Layout
body {
  // height: 100vh;
}

.border-collapse {
    border-collapse: collapse;
}

.content {
  margin-top: 140px;
}

// Paddings

.padded {
  padding-top: 1.5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
