.game-grid{
    margin: 30px auto;

  td {

    border: 0.5px solid #72420c;
    width: 40px;
    height: 40px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc400+8,9aa800+100 */
    background: rgb(143,196,0); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(143,196,0,1) 8%, rgba(154,168,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(143,196,0,1) 8%,rgba(154,168,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(143,196,0,1) 8%,rgba(154,168,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#9aa800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// ------------- Backgrounds -------------- //

.tree {
  background-image: image-tag(tree.jpg)
}

.hill {
  background-image: image-tag(hill.jpg)
}

.ire {
  background-image: image-tag(ire.jpg)
}

.axe {
  background-image: image-tag(axe.jpg)
}

.sword {
  background-image: image-tag(sword.jpg)
}

.lance {
  background-image: image-tag(lance.jpg)
}



