.textbox-3-lines {
  width: 100%;
  border: 1px solid #c5c46a;
  border-radius: 1em 1em 1em 1em / 3em 4em 4em 4em;

  background: #e5e4ba;

  p {
    border: none;
    padding: 0.5em 1.2em;
    color: #32210A;
    line-height: 1.4em;
    font-size: 1em;
    height: 4.6em;
    height: 100%;
  }
}
